<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.board.mapper.BoardMapper">
    <select id="findAll" resultType="Board">
        SELECT BOARD_ID boardId,
        TITLE title,
        CONTENTS contents,
        FILE_NAME fileName,
        MEMBER_EMAIL memberEmail,
        CREATED_AT createdAt,
        UPDATED_AT updatedAt
        FROM BOARD
    </select>

    <insert id="insertBoard">
        INSERT INTO
        BOARD (TITLE,
        CONTENTS,
        FILE_NAME,
        MEMBER_EMAIL,
        CREATED_AT) VALUES(
        #{board.title},
        #{board.contents},
        #{upFile},
        #{board.memberEmail},
        CURRENT_TIMESTAMP)
    </insert>
</mapper>